@page
@model IndexModel
@{    
    ViewData["Title"] = "Home page";
}


<div class="jumbotron">
    <h1>.NET 💜 I love you Hanneke. This is an example of a homepage</h1>
    <p class="lead">Example .NET app to Azure App Service.</p>
</div>
